Cannot parse URI with IPv6 address using optional IPv4 textual format for least-significant two pieces

This test fails when it should pass:
```rust
    #[test]
    fn ipv6_address_using_ipv4_in_ls32() {
        let uri = uriparse::URIReference::try_from("http://[::ffff:1.2.3.4]/");
        assert!(uri.is_ok());
    }
```

In section 3.2.2 of RFC 3986, it specifies that the least-significant 32 bits of an IPv6 address may be represented in IPv4 address textual format:
```
   A 128-bit IPv6 address is divided into eight 16-bit pieces.  Each
   piece is represented numerically in case-insensitive hexadecimal,
   using one to four hexadecimal digits (leading zeroes are permitted).
   The eight encoded pieces are given most-significant first, separated
   by colon characters.  Optionally, the least-significant two pieces
   may instead be represented in IPv4 address textual format.  A
   sequence of one or more consecutive zero-valued 16-bit pieces within
   the address may be elided, omitting all their digits and leaving
   exactly two consecutive colons in their place to mark the elision.

      IPv6address =                            6( h16 ":" ) ls32
                  /                       "::" 5( h16 ":" ) ls32
                  / [               h16 ] "::" 4( h16 ":" ) ls32
                  / [ *1( h16 ":" ) h16 ] "::" 3( h16 ":" ) ls32
                  / [ *2( h16 ":" ) h16 ] "::" 2( h16 ":" ) ls32
                  / [ *3( h16 ":" ) h16 ] "::"    h16 ":"   ls32
                  / [ *4( h16 ":" ) h16 ] "::"              ls32
                  / [ *5( h16 ":" ) h16 ] "::"              h16
                  / [ *6( h16 ":" ) h16 ] "::"

      ls32        = ( h16 ":" h16 ) / IPv4address
                  ; least-significant 32 bits of address

      h16         = 1*4HEXDIG
                  ; 16 bits of address represented in hexadecimal
```

Unfortunately, the `check_ipv6` function only allows hex digits and colon (':') characters, so it fails when it reaches the dot ('.') characters in the IPv4 portion:

```rust
/// Returns true if the byte string contains only valid IPv6 characters.
fn check_ipv6(value: &[u8]) -> bool {
    for &byte in value {
        if !byte.is_ascii_hexdigit() && byte != b':' {
            return false;
        }
    }

    true
}
```

Thanks for the concise issue descriptions!